# PostgreSQL instance / cluster admin

POSTGRES_USER=supportbench_admin
POSTGRES_PASSWORD=change-me
POSTGRES_DB=postgres
POSTGRES_HOST_PORT=5432


# MLflow database

MLFLOW_DB=mlflow
MLFLOW_DB_USER=mlflow
MLFLOW_DB_PASSWORD=change-me
MLFLOW_HOST_PORT=5000

MLFLOW_VERSION=3.14.0


# Enterprise Simulator database

SUPPORTBENCH_SIMULATOR_DB=supportbench_simulator
SUPPORTBENCH_SIMULATOR_DB_USER=supportbench_simulator
SUPPORTBENCH_SIMULATOR_DB_PASSWORD=change-me

SUPPORTBENCH_SIMULATOR_DATABASE_URL=postgresql+psycopg://supportbench_simulator:supportbench_simulator@127.0.0.1:5432/supportbench_simulator


# Agent model

SUPPORTBENCH_AGENT_MODEL=qwen3:4b
SUPPORTBENCH_OLLAMA_BASE_URL=http://127.0.0.1:11434
