# Python
__pycache__/
*.py[cod]
build/
dist/

# Venv
.venv/
venv/

# Env
.env
.env.*

# Other caches
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage

# OS
.DS_Store
concatenated_sources.txt

# Artifacts storage
artifacts/
abc.txt

# Large files
/data/


docs/
